<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo-light.png" alt="logo" width="264" height="78"></a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/pergolas-pavillions">Pergolas & Pavilions</a>
                    </li>
                    <li>
                        <a href="/outdoor-kitchens">Outdoor Kitchens</a>
                    </li>
                    <li>
                        <a href="/composite-decks">Composite Decks</a>
                    </li>
                    <li>
                        <a href="/3d-designs">3D Designs</a>
                    </li>
                    <li>
                        <a href="/reviews">Reviews</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Pergolas & Pavilions</li>
                    <li>Outdoor Kitchens</li>
                    <li>Composite Decks</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="tel:321-368-8919">T: 321-368-8919</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="mailto:jonathannmaynard@gmail.com">Jonathan Maynard</a>
        <span class="copyright"> Copyright 2024 - Present</span>
    </div>
</footer>